body{
    /* background-color: aqua; */
    background-image: url("https://wallpapercave.com/wp/Z4CD0Ic.jpg");

}
.city{
    padding-top: 100px;

    text-transform: uppercase;
    text-align:center;

}

.form{
    display: block;
    color:rgb(228, 19, 19);
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

button{
    margin: 20px;
    font-size: 15px;
}
button:hover{
    background-color:blueviolet;
}

